extends layout

block adventureForm
	div(style="padding: 30px")
		h1 Add New Adventure

		form(action="/add-adventure").d-flex.flex-column.gap-3.w-50#adventureForm
			div
				.form-label Country
				input.form-control.mt-1(
					type="text"
					name="country"
					placeholder="Enter visited country" 
				)
			div
				.form-label City
				input.form-control.mt-1(
					type="text"
					name="city"
					placeholder="Enter visited city" 
				)
			div
				.form-label Date
				input.form-control.mt-1(
					type="text"
					name="date"
					placeholder="Date of travel" 
				)
			div
				.form-label Duration
				input.form-control.mt-1(
					type="text"
					name="duration"
					placeholder="Enter visited days" 
				)
			div
				.form-label Travel Style
				select.form-select(aria-label="Default select example" name="travelStyle")
					each style in ["Adventure Travel", "Cultural Travel", "Luxury Travel", "Budget Travel"]
						option(value=style) #{style}					
			button.btn.btn-primary(style="width: 100px" type="submit") Save

	script. 
		//- function submitForm() {
		//- 	const form = document.getElementById('adventureForm');
		//- 	const formData = new FormData(form);
    	
		//- 	const data = {};
    	
		//- 	formData.forEach((value, key) => {
		//- 		data[key] = value;
		//- 	});

		//- 	fetch('/add-adventure', {
		//- 		method: 'post',
		//- 		headers: {
		//- 			'Content-Type': 'application/json',
		//- 		},
		//- 		body: JSON.stringify(data),
		//- 	})
		//- 	.then(res => res.text())
		//- 	.then(msg => {
		//- 		console.log(msg)
		//- 	}).catch(e => console.error(e))
		//- }
