extends layout
include deleteModal.jade
include editModal.jade

block content
  div(style="padding: 30px")
    #deleteAlert.alert.alert-success(style="display: none") Adventure Deleted Successfully, please Refresh the page
    h1 Your Adventures

    .d-flex.gap-3
      if !adventures.length 
        .d-flex.align-items-center.gap-2
          h4 There's no Adventures 
          a(href="/add-adventure") Add New Adventure
      else 
        each adventure in adventures
          a(style='width: 20rem;text-decoration: none' href=`/adventure-details/${adventure._id}`).card.shadow-sm.border.border-primary-subtle
            .card-body
              .d-flex.justify-content-between.align-items-center
                .d-flex.align-items-center.gap-1
                  h5.card-title= `${adventure.city},`
                  h5.card-title= adventure.country
                .d-flex.gap-3
                  img.bg-body-tertiary.p-2.rounded-2(onclick="openEditModal(event, #{JSON.stringify(adventure)})" style="cursor: pointer" src='/images/edit.svg' data-bs-toggle="modal" data-bs-target="#editModal")
                  img.bg-body-tertiary.p-2.rounded-2(onclick="openDeleteModal(event, #{JSON.stringify(adventure)})" style="cursor: pointer" src='/images/delete.svg' data-bs-toggle="modal" data-bs-target="#deleteModal")
              p.card-text= `Duration: ${adventure.duration} Days`
              p.card-text= `Date: ${adventure.date.toLocaleDateString()}`
              p.card-text= `Travel Style: ${adventure.travelStyle}`
    
  +deleteModal 
  +editModal
